.env (server)
PORT=6060
#dbUrl=mongodb+srv://codepactdeveloper_db_user:kdqq1PI3myICwh5a@codepact.pw9hzos.mongodb.net/Vpfinancial
#DOMAIN_URL = http://localhost:3000
#DOMAIN_URL = https://frontend.systemmanager.in/vpfinance
JWT_SECRET=mere_bhai_padhle
#dbUrl=mongodb+srv://codepactdeveloper_db_user:kdqq1PI3myICwh5a@codepact.pw9hzos.mongodb.net/Vpfinancial
dbUrl=mongodb://codepactdeveloper_db_user:kdqq1PI3myICwh5a@ac-c30tsmf-shard-00-00.pw9hzos.mongodb.net:27017,ac-c30tsmf-shard-00-01.pw9hzos.mongodb.net:27017,ac-c30tsmf-shard-00-02.pw9hzos.mongodb.net:27017/Vpfinancial?ssl=true&replicaSet=atlas-11akp7-shard-0&authSource=admin&appName=Codepact