.env (server)
PORT=6060
#dbUrl=mongodb+srv://codepactdeveloper_db_user:kdqq1PI3myICwh5a@codepact.pw9hzos.mongodb.net/Vpfinancial
#DOMAIN_URL = http://localhost:3000
#DOMAIN_URL = https://frontend.systemmanager.in/vpfinance
JWT_SECRET=mere_bhai_padhle
#dbUrl=mongodb+srv://codepactdeveloper_db_user:kdqq1PI3myICwh5a@codepact.pw9hzos.mongodb.net/Vpfinancial
dbUrl=mongodb+srv://raj117557:PMMFM1IeCv6xY1fo@cluster0.ny5io.mongodb.net/VP_FINANCE
EMAIL_HOST =smtp.gmail.com

EMAIL_PASS= hqwkbcxferzythoy



EMAIL_PORT=587



EMAIL_SECURE=false



EMAIL_USER=VIVEKBUNKER65@GMAIL.COM



